[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/Cassus/symfony-1.4.git
[submodule "plugins/sfAutoconfigPlugin"]
	path = plugins/sfAutoconfigPlugin
	url = git://github.com/Cassus/sfAutoconfigPlugin.git
[submodule "plugins/sfAssetsManagerPlugin"]
	path = plugins/sfAssetsManagerPlugin
	url = http://github.com/vinyll/sfAssetsManagerPlugin.git
[submodule "plugins/sfAdminDashPlugin"]
	path = plugins/sfAdminDashPlugin
	url = git://github.com/kbond/sfAdminDashPlugin.git
[submodule "web/assets/highcharts"]
	path = web/assets/highcharts
	url = https://github.com/highslide-software/highcharts.com.git
[submodule "web/assets/jquery.mousewheel"]
	path = web/assets/jquery.mousewheel
	url = https://github.com/brandonaaron/jquery-mousewheel.git
