[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/vjousse/symfony-1.4.git
[submodule "plugins/sfAutoconfigPlugin"]
	path = plugins/sfAutoconfigPlugin
	url = git://github.com/Cassus/sfAutoconfigPlugin.git
[submodule "plugins/sfAssetsManagerPlugin"]
	path = plugins/sfAssetsManagerPlugin
	url = http://github.com/vinyll/sfAssetsManagerPlugin.git
[submodule "lib/vendor/ludo-jquery-plugins"]
	path = lib/vendor/ludo-jquery-plugins
	url = http://github.com/Cassus/jquery-treeTable.git
[submodule "plugins/sfAdminDashPlugin"]
	path = plugins/sfAdminDashPlugin
	url = git://github.com/kbond/sfAdminDashPlugin.git
