
/* hover menu */
.jstree .nodeinteraction.createnode { background:url("node-insert-next.png") no-repeat scroll 0 0 transparent; padding-left: 20px; }
.jstree .nodeinteraction.deletenode { background:url("node-delete-next.png") no-repeat scroll 0 0 transparent; padding-left: 20px; }
.jstree div.sf_admin_actions { display: inline; visibility: hidden; }
.jstree li > a:hover + .sf_admin_actions, .jstree li > .sf_admin_actions:hover { visibility: inherit; }
.jstree .sf_admin_actions * { display: inline; }
