
/* hover menu */
.jstree .nodeinteraction.createnode form {
  background:url("node-insert-next.png") no-repeat scroll 0 0 transparent;
  padding-left: 15px;
}


.jstree .nodeinteraction.deletenode button {
  background:url("node-delete-next.png") no-repeat scroll 0 0 transparent;
  padding-left: 15px;
}
.jstree div.sf_admin_actions {
  display: inline;
  opacity: 0;
}
.jstree li > a:hover + .sf_admin_actions, .jstree li > .sf_admin_actions:hover {
  opacity: 1;
}

.jstree .sf_admin_actions div,
.jstree .sf_admin_actions form,
.jstree .sf_admin_actions select,
.jstree .sf_admin_actions button {
  display: inline;
}
